*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
application.properties
/app/src/debug/res/xml/network_security_config.xml
# Android release signing
keystore.properties
*.jks
*.keystore